@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

.h-48 {
  height: 12rem;
}

.h-96 {
  height: 24rem;
}

.h-128 {
  height: 26rem;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(143, 143, 143);
}

/* .project1_1{
  background-image: url('projects/INZA_1.jpg');
}
.project1_2{
  background-image: url('projects/INZA_2.jpg');
}
.project1_3{
  background-image: url('projects/INZA_3.jpg');
}
.project2_1{
  background-image: url('projects/BIZ_1.jpg');
}
.project2_2{
  background-image: url('projects/BIZ_2.jpg');
}
.project2_3{
  background-image: url('projects/BIZ_3.jpg');
}
.project3_1{
  background-image: url('projects/AHORA_1.jpg');
}
.project3_2{
  background-image: url('projects/AHORA_2.jpg');
}
.project3_3{
  background-image: url('projects/AHORA_3.jpg');
}
.project4_1{
  background-image: url('projects/PORTFOLIO_1.jpg');
}
.project4_2{
  background-image: url('projects/PORTFOLIO_2.gif');
}
.project4_3{
  background-image: url('projects/PORTFOLIO_3.jpg');
}
.project5_1{
  background-image: url('projects/NPM1.jpg');
}
.project5_2{
  background-image: url('projects/NPM2.gif');
}
.project5_3{
  background-image: url('projects/NPM3.gif');
}
.project6_1{
  background-image: url('projects/TALK_1.jpg');
}
.project6_2{
  background-image: url('projects/TALK_2.jpg');
}
.project6_3{
  background-image: url('projects/TALK_3.jpg');
} */


.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #f9f9f9;
  border-radius: 50%;
  margin: 0 5px 0 0;
  cursor: pointer;
}
.dot.red {
  background: #ff6057;
  border: 1px solid #e14640;
}
.dot.amber {
  background: #ffbd2e;
  border: 1px solid #dfa123;
}
.dot.green {
  background: #27c93f;
  border: 1px solid #1dad2b;
}

.hero-banner {
  position: relative;
  width: 100vw;
  height: 80vh;
  margin-bottom: 3.125rem;
  padding-top: 10vh;
  overflow: hidden;
  text-align: center;
}
.hero-banner video {
  position: absolute;
  top: -10vw;
  left: 0;
  z-index: 0;
}
.hero-banner canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 30rem) {
  .hero-banner {
    display: flex;
    justify-content: center;
    height: auto;
  }
}

.bubbleContainer {
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-areas: "koral . person-four . logo logo . person-five marigold-2 person-two" ". person-three . marigold-1 logo logo . person-one . aqua";
}
@media (max-width: 30rem) {
  .bubbleContainer {
    grid-template-areas: "koral . person-four . logo logo logo . person-five marigold-2 person-two" ". person-three . marigold-1 logo logo logo . person-one . aqua";
  }
}

.bubble {
  animation: bubbleKeyframes 4s infinite;
}

.person-1 {
  grid-area: person-one;
  width: 7.5rem;
}

.person-2 {
  grid-area: person-two;
  width: 5.9375rem;
}

.person-3 {
  grid-area: person-three;
  width: 5.25rem;
}

.person-4 {
  grid-area: person-four;
  width: 4.4375rem;
}

.person-5 {
  grid-area: person-five;
  width: 3.3125rem;
}
@media (max-width: 30rem) {
  .person-5 {
    justify-self: self-end;
  }
}

.koral-bubble {
  grid-area: koral;
  width: 1rem;
}

.marigold-bubble {
  grid-area: marigold-1;
  width: 1.9375rem;
}

.marigold-buble-2 {
  grid-area: marigold-2;
  width: 1.875rem;
}

.aqua-bubble {
  grid-area: aqua;
  align-self: self-end;
  width: 1rem;
}

.innovation-logo {
  position: relative;
  grid-area: logo;
  grid-column-start: 1;
  grid-column-end: 11;
  width: 11.25rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 30rem) {
  .innovation-logo {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}

@keyframes bubbleKeyframes {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.4rem);
  }
}